<div class="app-container">
    <app-header></app-header>
    <div class="container">
      <h1 class="subtitle">Cambio de Clave</h1>
  
      <div class="content">
        <mat-card class="center-card">
          <!-- Icono de person dentro de un círculo con un icono de + -->
          <div class="card-header">
            <div class="avatar-container">
              <mat-icon class="person-icon">lock</mat-icon> <!-- Cambiamos el ícono a "lock" -->
            </div>
          </div>

          <!-- Campos de entrada -->
          <div class="card-body">
            <!-- Inputs uno debajo del otro -->
            <div class="input-column">
              <div class="input-group">
                <label class="input-label">Contraseña Actual</label>
                <mat-form-field appearance="outline">
                  <input matInput type="password">
                </mat-form-field>
              </div>
              <div class="input-group">
                <label class="input-label">Contraseña Nueva</label>
                <mat-form-field appearance="outline">
                  <input matInput type="password">
                </mat-form-field>
              </div>
              <div class="input-group">
                <label class="input-label">Confirme la Contraseña</label>
                <mat-form-field appearance="outline">
                  <input matInput type="password">
                </mat-form-field>
              </div>
               <!-- Botón Actualizar -->
               <button mat-raised-button class="update-button">Actualizar</button>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
    <app-footer></app-footer>
</div>