.sign-up-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("/assets/images/background.png") no-repeat center center;
  background-size: cover;
  position: relative;
}

h2 {
  color: #1267b1;
  margin: 0;
  flex-grow: 1;
  text-align: center;
}

.sign-up-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  background: white;
  padding: 2rem 3rem;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 100vw;
  width: 73%;
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  margin-bottom: 80px;
}

.close-icon {
  color: #757575;
  left: 10px;
  cursor: pointer;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.form-field-group {
  display: flex;
  align-items: flex-end;

  .form-field {
    margin-right: rem;
  }

  .tipo-cedula {
    width: 60px;
  }

  .cedula {
    flex: 1;
  }
}

.form-field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.radio-group {
display: flex;

  .options{
    margin-top: 1.1rem;
    display: flex;
    justify-content: center;
    gap: 50px;
  }
  
}

.mat-icon-button {
    color: #757575;
  }

label {
  margin-bottom: 3px;
  color: #757575;
  text-align: left;
}

.register-button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;

  button {
    color: white;
    width: 300px;
    height: 45px;
    border-radius: 20px;
    display: flex; // Añade flexbox al botón
    align-items: center; // Centra verticalmente
    justify-content: center; // Centra horizontalmente
  }

  .white-spinner {
    margin: 0 !important;
    padding: 0 !important;
  }

  ::ng-deep .white-spinner .mat-progress-spinner circle,
  ::ng-deep .white-spinner .mat-spinner circle {
    stroke: white !important;
  }
}



/* Eliminar las flechas de los campos numéricos */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}


/* Estilos responsivos para dispositivos móviles */
@media (max-width: 600px) {
    .sign-up-container {
        padding: 36rem 2rem;
        background: linear-gradient(100deg, rgba(29, 112, 185, 0.664) 0%, rgba(97,163,220,1) 50%, rgba(0, 213, 255, 0.459) 100%);
        max-height: 100vh; 
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
  
    .sign-up-box {
      padding: 1rem;
      max-width: 100vw;
      width: 100%;
    }
  
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
  
    .close-icon {
        order: 1;
      }
    
      h2 {
        order: 2;
        flex-grow: 1;
        font-size: 1.5rem;
        text-align: center;
        margin: 0;
      }

    .form-grid {
      grid-template-columns: 1fr;
      gap: 10px;
    }
  
    .form-field {
      width: 100%;
    }

    .radio-group {
      margin-bottom: 2rem;
    }
  
    .register-button {
      justify-content: center;
    }
  }