body,
html {
  height: 100%;
  margin: 0;
}

.main-sidenav-content {
    height:100%; ;
    background-color: white;
}

.main-content {
    height: 83vh;
    background-color: white;

  .content-wrapper {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .info-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 66vh;

    .welcome-text {
      font-size: 2.8rem;
      color: #3bb2f6;
      font-weight: bold;
      letter-spacing: 0.08em;
      margin: 0;
    }

    .description {
      font-size: 1.24rem;
      color: #0f3a80;
      font-weight: 700;
      letter-spacing: 0.05em;
    }

    .request-section {
        .request-title {
          font-size: 1.5rem;
          color: #3bb2f6;
          font-weight: bold;
          letter-spacing: 0.05em;
          margin-bottom: 3rem;
        }
      
        .request-options {
          display: flex;
          // flex-wrap: wrap;  // Añadido para permitir múltiples filas
          justify-content: center;
          gap: 5.5rem;
          margin-bottom: 3rem;
      
          .option {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1.5rem 2.5rem;
            text-align: center;
            width: 100%;
            box-sizing: border-box;
            height: 130px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            transition: transform 0.2s;
            border-radius: 30px;
      
            &:hover {
              transform: scale(1.05);
              cursor: pointer;
              background-color: #60aaff;
      
              .option-text {
                color: white;
              }
      
              .option-icon {
                color: white;
              }
            }
      
            .option-text {
              margin-bottom: 1rem;
              font-size: 14px;
              font-weight: 500;
              color: #0f3a80;
              align-self: center;
            }
            
            .option-icon {
              font-size: 45px;
              color: #3b82f6;
              display: flex;
              flex-grow: 1;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
      
  }

  .logo-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .main-logo {
      // height: 30rem;
      width: 60%;
    }
  }
}

/* Media Queries for Responsive Design */
@media (max-width: 600px) {
body {
    height: 100vh;
}

  .main-sidenav-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .main-content {
    padding: 0 1rem;
    height: 86vh;

    .welcome-text {
      font-size: 2.5rem !important;
    }

    .description {
      font-size: 1rem !important;
      margin-top: 35px;
    }

    .content-wrapper {
      flex-direction: column;
      align-items: center;
    }

    .info-section {
      width: 100%;
      margin-bottom: 2rem;
    }

    .logo-section {
      width: 100%;
      margin-top: 15px;

      .main-logo {
        height: 13rem;
        width: 15rem;
        margin-bottom: 4rem;

      }
    }
  }

  .request-title {
    font-size: 1.4rem !important;
    margin-bottom: 2rem !important;
  }

  .request-options {
    flex-direction: row;
    gap: 1rem;

    .option {
      width: 85px !important;
      height: 90px !important;

      .option-text {
        font-size: 0.9em !important;
      }

      .option-icon {
        font-size: 2.8rem !important;
      }
    }
  }
  
  .blurred {
    filter: blur(5px);
    pointer-events: none;
  }
}
