<div class="app-container">
  
    <app-header></app-header>
    
    <main class="main-content">
      <div class="content-wrapper">
        <div class="info-section">
          <h1  class="welcome-text">¡Bienvenido Nombre!</h1>
                <div class="request-section">
                  <div class="request-options">
                    <!-- <mat-card class="option" (click)="reembolsoAnalist()">
                      <p class="option-text">Reembolso</p>
                      <mat-icon class="option-icon">attach_money</mat-icon>
                    </mat-card> -->
                    <mat-card class="option" (click)="consultaAnalist()">
                      <p class="option-text">Consulta</p>
                      <mat-icon class="option-icon">description</mat-icon>
                    </mat-card>
                    <!-- <mat-card class="option" (click)="reportes()">
                      <p class="option-text">Reportes</p>
                      <mat-icon class="option-icon">receipt</mat-icon>
                    </mat-card> -->
                    <!-- <mat-card class="option" (click)="historial()">
                      <p class="option-text">Historial</p>
                      <mat-icon class="option-icon">restore_page</mat-icon>
                    </mat-card> -->
                  </div>
                </div>
              </div>
              <div class="logo-section">
                <img
                  src="../../../../assets/images/Logo.png"
                  alt="Logo"
                  class="main-logo"
                  />
                </div>
              </div>
            </main>
    <app-footer></app-footer>
    </div>
    