.recovery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('/assets/images/background.png') no-repeat center center;
    background-size: cover;
    position: relative;
  }
  
  .recovery-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    z-index: 2;
    background: white;
    padding: 2rem 3rem;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    // width: 100vw;
    max-height: 600px;
    height: 100vh;
    text-align: center;
  }
  
  :host ::ng-deep .mat-horizontal-stepper-header-container {
    display: none;
  }

  :host ::ng-deep .mat-horizontal-content-container {
    padding: 0;
}
  
  .logo-container {
    margin-bottom: 1.5rem;
    img {
      max-width: 150px;
    }
  }
  
  .full-width {
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .input-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom:0rem; 
    width: 95%;
  
  }
  
  
  .input-icon {
      position: absolute;
      left: 0px;
      bottom: 56px;
      margin-left: -1px;
      z-index: 1;
      color: #1267b1;
      font-size: 2rem;
  }
  
  .mat-icon-button {
    color: #757575;
  }

  .recovery-button {
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px; // Espacio entre el spinner y el texto
    }
  
    mat-spinner {
      margin-right: 8px; // Espacio a la derecha del spinner
  
      // Cambia el color del spinner a blanco
      ::ng-deep circle {
        stroke: white !important;
      }
    }
  }
  
  .forgot-password {
    text-align: right;
    margin-bottom: 3rem;
    margin-top: 0.50rem;
    font-size: 0.86rem;
    a {
      color: #1267b1;
      text-decoration: none;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  :host ::ng-deep .mat-form-field.mat-form-field-invalid .mat-input-element {
    border-color: red;
  }
  
  .recovery-button {
    margin-bottom: 3rem;
    button{
      background: #0067b1;
      color: white;
      width: 300px;
      height: 45px;
      border-radius: 20px;
      margin-top: 2rem;

    }
  }
  
  .cancel-link {
    a {
      color: #757575;
      text-decoration: none;
      font-size: 0.96rem;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  
  
  label{
    display: flex;
    color: #757575;
    margin-left: 3rem;
  
  }
  
  mat-form-field {
    flex: 1;
    margin-left: 40px; 
  }
  
  
  /* Eliminar las flechas de los campos numéricos */
  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  
  }
  
  
  @media (max-width: 600px) {
    .recovery-container {
        padding: 0rem 4rem;
        background: linear-gradient(100deg, rgba(29, 112, 185, 0.664) 0%, rgba(97,163,220,1) 50%, rgba(0, 213, 255, 0.459) 100%);
        min-height: 100vh; 
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
  
    .recovery-box {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      position: relative;
      z-index: 2;
      background: white;
      padding: 2rem 3rem;
      border-radius: 30px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      max-width: 400px;
      width: 100%;
      max-height: 600px;
      height: 100%;
      text-align: center;
    }
    
    
    .logo-container {
      margin: 0 0 2rem 0;
      img {
        max-width: 120px;
      }
    }
    
    .form-container {
      margin-top: 0rem;
    }
  
    .full-width {
      width: 0%;
      margin-bottom: 1rem;
    }
    
    .input-container {
      position: relative;
      display: flex;
      align-items: center;
      margin-bottom:0rem; 
      width: 100%;
    
    }
    
    
    .input-icon {
        position: absolute;
        left: 0px;
        bottom: 56px;
        margin-left: 1px;
        z-index: 1;
        color: #1267b1;
        font-size: 2rem;
    }
    
    .mat-icon-button {
      color: #757575;
    }
    
    .forgot-password {
      text-align: center;
      margin-bottom: 2.5rem;
      margin-top: 0.50rem;
      font-size: 0.80rem;
      a {
        color: #1267b1;
        text-decoration: none;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
  
    }
  
    .recovery-button {
      margin-bottom:3rem;
      button{
        background: #0067b1;
        color: white;
        width: 240px;
        height: 45px;
        border-radius: 20px;

      }
    }
    
    .register-link {
      a {
        color: #757575;
        text-decoration: none;
        font-size: 0.90rem;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    
  }