<div class="header">
  <mat-icon class="menu-icon-H" (click)="toggleSidenav()">menu</mat-icon>
  <div class="logo-container">
    <img src="../../../../assets/images/Logo.png" alt="Logo" class="logo-header" />
  </div>
  <!-- Menú para analist -->
  <nav *ngIf="isAnalist" class="nav-links">
    <a (click)="homeAnalist()">Inicio</a>
    <a (click)="consultaAnalist()">Consulta</a>
  </nav>
  
  <!-- Menú para admin -->
  <nav *ngIf="isAdmin" class="nav-links">
    <a (click)="dashboard()">Inicio</a>
    <a (click)="consultaAdmin()">Consulta</a>
    <a (click)="reportesAdmin()">Reportes</a>
  </nav>
  
  <div class="user-info" (mouseenter)="showMenu()" (mouseleave)="hideMenu()">
    <mat-icon class="user-icon">person</mat-icon>
    <span class="user-text">
      {{ name  }}
        <!-- nombre -->
      <mat-icon class="arrow-icon">arrow_drop_down</mat-icon>
    </span>
    <div class="user-menu" *ngIf="menuOpen" (mouseenter)="showMenu()" (mouseleave)="hideMenu()">

      <a>
        {{ isAdmin ? 'Admin' : 'Analista' }}
      </a>
      
      <a (click)="editAdminProfileAnalist()">
        Editar Perfil
        <mat-icon class="user-menu-icon">edit</mat-icon>
      </a>
      <!-- <a (click)="isAnalist ? changePasswordAdminAnalist() : changePassword()">
        <!-- Cambio de clave
        <mat-icon class="user-menu-icon">password</mat-icon>
      </a>  -->
      <a *ngIf="isAdmin" (click)="assignProfile()">
        Asignar Perfil
        <mat-icon class="user-menu-icon">assignment</mat-icon>
      </a>
      <a (click)="logout()">
        Cerrar sesión
        <mat-icon class="user-menu-icon">logout</mat-icon>
      </a>
    </div>
  </div>
</div>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" [opened]="sidenavOpen" (openedChange)="closeSidenav($event)">
    <!-- Contenido del sidenav según rol -->
    <!-- <nav *ngIf="!isAdmin && !isAnalist" class="nav-links-side">
      <a (click)="home()">Inicio</a>
      <a (click)="reembolso()">Reembolso</a>
      <a (click)="cartaAval()">Carta Aval</a>
    </nav> -->
    <nav *ngIf="isAnalist" class="nav-links-side">
      <a (click)="homeAnalist()">Inicio</a>
    </nav>
    <nav *ngIf="isAdmin" class="nav-links-side">
      <a (click)="dashboard()">Inicio</a>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content (click)="closeSidenav(false)" class="main-sidenav-content"></mat-sidenav-content>
</mat-sidenav-container>