<div class="app-container">
    <app-header></app-header>
    <div class="container">
      <h1 class="subtitle">Carta Aval</h1>
  
      <div class="content">
        <!-- Left Card -->
        <mat-card *ngIf="cartaAval" class="left-card">
          <mat-card-title class="card-title-paciente">{{ cartaAval.paciente }}</mat-card-title>
          <mat-card-content class="datos-paciente-cartaAval">
            <div class="info">
              <p><strong>Nro. Siniestro:</strong> {{ cartaAval.nro_siniestro }}</p>
            </div>
            <div class="info">
              <p class="uno"><strong>Cedula:</strong> 00000000</p>
              <p class="dos"><strong>Teléfono:</strong> 00000000</p>
            </div>
            <div class="info">
              <p class="uno"><strong>Aseguradora:</strong> Aseguradora</p>
              <p class="dos"><strong>Nro. Poliza:</strong> 00000000</p>
            </div>
            <div class="info">
              <p class="uno"><strong>Diagnóstico:</strong> Diagnóstico</p>
              <p class="dos"><strong>Fecha:</strong> {{ cartaAval.fecha_reporte }}</p>
            </div>
            <div class="info">
              <p class="uno estatus"><strong>Monto Total:</strong> 00.00</p>
            </div>
          </mat-card-content>
        </mat-card>
  
        <!-- Tabla con tres columnas y tres filas fijas -->
        <mat-card class="center-card">
          <div class="header-container">
            <mat-card-title class="card-title">Recaudos</mat-card-title>
          </div>
          <mat-card-content>
            <div class="table-container">
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">
  
                <!-- Columna Descripción -->
                <ng-container matColumnDef="descripcion">
                  <th mat-header-cell *matHeaderCellDef> Descripción </th>
                  <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
                </ng-container>
  
                <!-- Columna Acciones -->
                <ng-container matColumnDef="acciones">
                  <th mat-header-cell *matHeaderCellDef> Acciones </th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="primary" (click)="verDocumento(element)">
                      <mat-icon matTooltip="Ver">visibility</mat-icon>
                    </button>
                    <button mat-icon-button color="accent" (click)="descargarDocumento(element)">
                      <mat-icon matTooltip="Descargar">download</mat-icon>
                    </button>
                  </td>
                </ng-container>
  
                <!-- Filas de la tabla -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
              </table>
            </div>
            <!-- Botón "Cerrar Caso" centrado debajo de la tabla -->
            <div class="button-container">
              <button mat-raised-button color="primary" >
                Cerrar Caso
              </button>
            </div>
          </mat-card-content>
        </mat-card>
  
  
        <!-- Right Card -->
        <mat-card class="right-card">
          <mat-card-content>
            <label>Comentario</label>
            <mat-form-field appearance="outline" class="full-width">
              <textarea matInput rows="1" class="diagnostico-textarea"></textarea>
            </mat-form-field>
            <label>Estatus</label>
            <mat-form-field appearance="outline" class="full-width">
              <mat-select [(value)]="estatusSeleccionado" required>
                <mat-option value="aprobado">Aprobado</mat-option>
                <mat-option value="revision">Revisión</mat-option>
                <mat-option value="rechazado">Rechazado</mat-option>
              </mat-select>
            </mat-form-field>
            <div class="finiquito-button">
              <p><strong> Adjunta Finiquito</strong></p>
              <mat-icon color="primary" class="download-button">cloud_upload</mat-icon>
            </div>
  
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <app-footer></app-footer>
  </div>