.container {
    padding: 0;
    max-width: 100vw;
    width: 100%;
    margin: 0;
  }
  
  .subtitle {
    text-align: center;
    color: #1e88e5;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 32px;
  }
  
  .content {
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 2rem;
  }
  
  .center-card {
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 600px; /* Reducir el ancho de la tarjeta */
    height: auto;
    margin-bottom: 4rem;
  }
  
  .card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
  
    .avatar-container {
      position: relative;
      width: 90px;
      height: 90px;
      background-color: #ffffff; /* Color de fondo del círculo */
      border: 2px solid #1e88e5; /* Borde azul */
      border-radius: 50%; /* Hace que el contenedor sea un círculo */
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 16px;
  
      .person-icon {
        font-size: 70px;
        width: 70px;
        height: 72px;
        color: #1e88e5; /* Color del icono de persona */
      }
  
      .add-icon {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: #1e88e5; /* Color de fondo del icono + */
        color: white; /* Color del icono + */
        border-radius: 50%; /* Hace que el icono + sea circular */
        font-size: 20px;
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer; /* Cambia el cursor al pasar sobre el ícono */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra para resaltar */
      }
    }
  
    .card-title {
      font-size: 1.5rem;
      color: #1e88e5;
      margin: 0;
    }
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .input-row {
    display: flex;
    gap: 16px;
  
    .input-group {
      flex: 1;
      display: flex;
      flex-direction: column;
  
      .input-label {
        color: #757575; /* Color gris para el label */
        font-size: 0.875rem;
        margin-bottom: 8px;
      }
  
      mat-form-field {
        width: 100%;
      }
    }
  
    .full-width {
      flex: 2; /* Ocupa el doble de espacio */
    }
  
    .optional-field {
      flex: 1;
    }
  }
  
  .update-button {
    background-color: #0067b1; /* Color azul primario */
    color: white; /* Texto en blanco */
    margin-top: 16px; /* Espacio de separación */
    align-self: center; /* Alinea el botón a la izquierda */
    width: 300px;
    height: 45px;
    border-radius: 20px;
    margin-bottom: 1rem;
  }
  
  @media (max-width: 600px) {
    .content {
      flex-direction: column;
      gap: 20px;
      align-items: center;
    }
  
    .container {
      width: 96%;
    }
  
    .center-card {
      width: 100%;
      padding: 16px;
    }
  
    .input-row {
      flex-direction: column;
  
      .input-group {
        width: 100%;
      }
    }
  }