<div class="app-container">
  
<app-header></app-header>

<main class="main-content">
  <div class="content-wrapper">
    <div class="info-section">
      <h1  class="welcome-text">¡Bienvenido!</h1>
            <p class="description">
              En RM Express, atender a nuestros <br />
              clientes es nuestra prioridad.
            </p>
            <div class="request-section">
              <h2 class="request-title">Haz tu solicitud</h2>
              <div class="request-options">
                <mat-card class="option" (click)="reembolso()">
                  <p class="option-text">Reembolso</p>
                  <mat-icon class="option-icon">attach_money</mat-icon>
                </mat-card>
                <mat-card class="option" (click)="cartaAval()">
                  <p class="option-text">Carta Aval</p>
                  <mat-icon class="option-icon">description</mat-icon>
                </mat-card>
              </div>
            </div>
          </div>
          <div class="logo-section">
            <img
              src="../../../../assets/images/Logo.png"
              alt="Logo"
              class="main-logo"
              />
            </div>
          </div>
        </main>
<app-footer></app-footer>
</div>
