<div class="app-container">
  <app-header></app-header>
  <div class="container">
    <h1 class="subtitle">Cambio de Clave</h1>

    <div class="content">
      <mat-card class="center-card">
        <div class="card-header">
          <div class="avatar-container">
            <mat-icon class="person-icon">lock</mat-icon>
          </div>
        </div>

        <form [formGroup]="changePasswordForm">
          <div class="card-body">
            <div class="input-column">
              <!-- Contraseña Actual -->
              <div class="input-group">
                <label class="input-label">Contraseña Actual</label>
                <mat-form-field appearance="outline">
                  <input matInput [type]="hideCurrentPassword ? 'password' : 'text'" formControlName="currentPassword">
                  <button mat-icon-button matSuffix (click)="hideCurrentPassword = !hideCurrentPassword">
                    <mat-icon>{{ hideCurrentPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                  </button>
                  <mat-error *ngIf="changePasswordForm.get('currentPassword')?.invalid">
                    {{ getErrorMessage('currentPassword') }}
                  </mat-error>
                </mat-form-field>
              </div>

              <!-- Nueva Contraseña -->
              <div class="input-group">
                <label class="input-label">Contraseña Nueva</label>
                <mat-form-field appearance="outline">
                  <input matInput [type]="hideNewPassword ? 'password' : 'text'" formControlName="newPassword">
                  <button mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword">
                    <mat-icon>{{ hideNewPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                  </button>
                  <mat-error *ngIf="changePasswordForm.get('newPassword')?.invalid">
                    {{ getErrorMessage('newPassword') }}
                  </mat-error>
                </mat-form-field>
              </div>

              <!-- Confirmar Contraseña -->
              <div class="input-group">
                <label class="input-label">Confirme la Contraseña</label>
                <mat-form-field appearance="outline">
                  <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword">
                  <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">
                    <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                  </button>
                  <mat-error *ngIf="changePasswordForm.get('confirmPassword')?.invalid">
                    {{ getErrorMessage('confirmPassword') }}
                  </mat-error>
                </mat-form-field>
              </div>

              <!-- Botón de Actualizar -->
              <button mat-raised-button class="update-button" (click)="onSubmit()" type="submit" [disabled]="isLoading">
                <span *ngIf="!isLoading">Actualizar</span>
                <mat-spinner *ngIf="isLoading" diameter="20"></mat-spinner>
              </button>
            </div>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
  <app-footer></app-footer>
</div>